<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>survey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/surveys/process" method="post">
        {% csrf_token %}
            Your Name: <input type="text" name="name">
            <br>
            Dojo Location: <select name="location">
                <option selected value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="Chicago">Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Washington D.C.">Washington D.C.</option>
            </select>
            <br>
            Favorite Language: <select name="Language">
                <option value="Javascript">Javascript</option>
                <option value="Node">Node</option>
                <option value="Python">Python</option>
            </select>
            <br>
            <p> Comment (optional):</p>
            <textarea name = "comment"></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>